
.inner-bookbox {
    /* height: 0px; */
    width: 220px;
    border: 1px solid black;
    margin: 5px 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px 0;
    background-color: #cec2a770;
    cursor: pointer;
  
  }
  .inner-bookbox:hover{
    padding: 6px 1px;
    border: 2px solid black;
    background-color: #cec2a7b9;
  }
 
  
  .inner-bookbox 
  .Title,
  .Author,
  .rating {
    border: 1px solid black;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 77%;
    border-radius: 7px;
    margin-top: 1px;
    /* text-decoration: none; */
  }
  
  .inner-bookbox img {
    height: 260px;
    width: 180px;
  }
  .container{
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 81%;
    margin-top: 5px;
  }
  .container .inner-featured{
    width: 100%;
  }