/* header section */
.header {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
  justify-content: space-around;
  font-size: x-large;
  /* border-bottom: 1px solid black; */
  background-color: #faebd7;
}

.logo {
  border-radius: 10px;
  height: 50px;
  margin-top: 2px;
}

.pages {
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 3px;
}

.pages li {
  display: inline-block;
  margin: 0 20px 0 20px;
  background: none;
  font-weight: bolder;
}

a {
  background: transparent;
}

.signin_button {
  padding: 8px 15px;
  font-size: 18px;
  border: 1px solid black;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bolder;
  background: linear-gradient(109.6deg, #EFC286 11.2%, rgba(189, 71, 12, 0.815) 100.2%);
}

button:hover {
  border: 2px solid black;
  color: #000000;
}

.red {
  color: #d57b04;
}

.black {
  color: #000000;
}

.black li:hover {
  color: #d57b04;
}